*.npy
*.tar
*.csv
*.jpg
*.png
*.ascii
*.ipynb_checkpoints
*.pyc
*.nosync
*filters.dat
*.icloud
*.Rhistory
*.RData
*Lihui_Data*
*.p
*.rds
*.pickle
*.idea
cornet_rirsa/CORnet/
results_design_opt*.json
brms_analysis.ipynb
bambi_analysis.ipynb
experiments/RI_objects_RSA/PsychoPy-1.90.3/
